---
import AboutSection from "../components/AboutSection.astro";
import HeroSection from "../components/HeroSection.astro";
import Projects from "../components/Projects.astro";
import TechnologiesSection from "../components/TechnologiesSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marcelo 'enki' Lencina">
  <main
    class="sm:snap-y sm:snap-mandatory relative h-screen w-screen overflow-x-hidden"
  >
    <div class="sm:snap-center">
      <HeroSection
        title="Marcelo Lencina"
        subTitle="Desarrollador Web Front End"
        bgBlur="../Media/fondodifuminado.webp"
      />
    </div>
    <div class="sm:snap-center">
      <AboutSection title="Sobre Mí" bgBlur="../Media/fondodifuminado.webp" />
    </div>
    <div class="sm:snap-center">
      <TechnologiesSection
        title="Tecnologías"
        bgBlur="../Media/fondodifuminado.webp"
      />
    </div>
    <div class="sm:snap-center">
      <Projects title="Proyectos" bgBlur="../Media/fondodifuminado.webp" />
    </div>
  </main>
</Layout>
