---
import SocialNav from "./SocialNav.astro";
---

<footer
  class="max-w-6xl h-8 text-cyan-500 flex justify-evenly items-end absolute bottom-0"
>
  <div class="w-1/4 flex justify-center">
    <h2 class="text-5xl pb-3 -pr-5">Enki</h2>
  </div>
  <div class="w-1/4 h-6 border-t-2 border-cyan-500"></div>
  <div class="w-1/4 pb-3"><SocialNav /></div>
  <div class="w-1/4 h-6 border-t-2 border-cyan-500"></div>
  <img
    class="w-1/4 h-auto"
    src="../Media/yoavatarsinfondo.png"
    alt="avatar enki"
  />
</footer>
