---
import SocialNav from "./SocialNav.astro";
---

<footer
  class="w-full max-w-6xl h-8 text-cyan-500 flex justify-evenly items-end absolute left-1/2 -translate-x-1/2 bottom-0"
>
  <div class="w-1/4 flex justify-center">
    <h2 class="text-5xl pb-3 -pr-5">Redes</h2>
  </div>
  <div class="w-1/5 h-6 border-t-2 border-cyan-500"></div>
  <div class="w-2/6 pb-3"><SocialNav /></div>
  <div class="w-1/5 h-6 border-t-2 border-cyan-500"></div>
  <img
    class="w-1/4 h-auto"
    src="../Media/yoavatarsinfondo.webp"
    alt="avatar enki"
  />
</footer>
