---
import Footer from "./Footer.astro";
interface Props {
  title: string;
  bgSection: string;
  bgBlur: string;
}

const { title, bgSection, bgBlur } = Astro.props;
---

<section
  id="projects"
  class="w-screen h-screen flex justify-center relative p-3 md:p-10"
>
  <img
    class="absolute top-0 left-0 object-cover overflow-hidden w-full h-full -z-10"
    src={bgSection}
    alt="imagen de fondo"
  />
  <div
    class="container flex flex-col items-center justify-between max-w-4xl h-full relative rounded-xl p-1 md:p-4 text-[#fca311]"
  >
    <div class="header flex justify-between items-center content-center w-full">
      <a class="opacity-50 hover:opacity-95 pl-5" href="#technologies"
        >⬅️ <span class="hidden md:inline-block">Tecnologías</span></a
      >
      <h1 class="text-3xl font-medium">{title}</h1>
      <a class="opacity-50 hover:opacity-95 pr-5" href="#hero"
        ><span class="hidden md:inline-block">inicio</span> ➡️</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center h-full w-full relative text-[#ededed] p-4 text-2xl"
    >
      <div
        class="flex flex-col h-full w-full items-center content-center pt-4 relative"
      >
        <h4 class="text-[#ededed]">Estos son algunos de mis proyectos</h4>
        <div
          class="p-2 w-full h-3/4 md:p-5 grid justify-items-center grid-cols-1 md:grid-cols-2 grid-rows-4 md:grid-rows-2 gap-x-2 gap-y-2 relative [&>div]:rounded-lg [&>div]:min-w-28 [&>div]:max-w-sm"
        >
          <div
            class="w-full border relative overflow-hidden md:[&>a>img]:hover:scale-110 md:[&>a>div]:hover:w-full md:[&>a>div]:hover:h-full md:[&>a>div]:hover:opacity-100"
          >
            <a
              class="relative"
              href="https://responsivelandingpage-by-enkidev.netlify.app/"
              target="_blank"
              ><img
                class="object-cover object-center transition-all duration-300"
                src="../Media/mokups/dashboard.webp"
                alt="dashboard imagen"
              />
              <div
                class="absolute overflow-hidden top-0 opacity-0 transition-all h-0 w-0 pt-1 flex flex-col justify-start bg-slate-600 bg-opacity-50"
              >
                <h2 class="font-bold">Time Tracking Dashboard</h2>
                <p>
                  Desafio front end para <span class="font-bold"
                    >Frontend Mentor</span
                  >. Donde utilizo HTML, CSS y JavaScript.
                </p>
              </div></a
            >
          </div>
          <div
            class="border object-cover overflow-hidden md:[&>a>img]:hover:scale-110 md:[&>a>div]:hover:w-full md:[&>a>div]:hover:h-full md:[&>a>div]:hover:opacity-100"
          >
            <a
              class="relative"
              href="https://mokepons.netlify.app/"
              target="_blank"
              ><img
                class="object-cover object-center transition-all duration-300"
                src="../Media/mokups/mokepon.webp"
                alt="mokepon imagen"
              /><div
                class="absolute overflow-hidden top-0 opacity-0 transition-all h-0 w-0 pt-1 flex flex-col justify-start bg-slate-600 bg-opacity-50"
              >
                <h2 class="font-bold">Mokepon</h2>
                <p>Minijuego creado con HTML, CSS y JavaScript.</p>
              </div></a
            >
          </div>
          <div
            class="border object-cover overflow-hidden md:[&>a>img]:hover:scale-110 md:[&>a>div]:hover:w-full md:[&>a>div]:hover:h-full md:[&>a>div]:hover:opacity-100"
          >
            <a
              class="relative"
              href="https://tesla-landing-clonada.netlify.app/"
              target="_blank"
              ><img
                class="object-cover object-center transition-all duration-300"
                src="../Media/mokups/tesla.webp"
                alt="tesla imagen"
              /><div
                class="absolute overflow-hidden top-0 opacity-0 transition-all h-0 w-0 pt-1 flex flex-col justify-start bg-slate-600 bg-opacity-50"
              >
                <h2 class="font-bold">Clon de Tesla</h2>
                <p>
                  Clonando la pagina de Tesla con HTML, CSS, JavaScript, Astro y
                  Tailwind CSS.
                </p>
              </div></a
            >
          </div>
          <div
            class="border object-cover overflow-hidden md:[&>a>img]:hover:scale-110 md:[&>a>div]:hover:w-full md:[&>a>div]:hover:h-full md:[&>a>div]:hover:opacity-100"
          >
            <a
              class="relative"
              href="https://holip.netlify.app/"
              target="_blank"
              ><img
                class="object-cover object-center transition-all duration-300"
                src="../Media/mokups/felizcumple.webp"
                alt="cumpleaños imagen"
              /><div
                class="absolute overflow-hidden top-0 opacity-0 transition-all h-0 w-0 pt-1 flex flex-col justify-start bg-slate-600 bg-opacity-50"
              >
                <h2 class="font-bold">Saludo de cumpleaños</h2>
                <p>Aplicando animaciones de CSS.</p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <img
      class="absolute top-0 left-0 -z-10 h-full w-full object-cover overflow-hidden rounded-xl"
      src={bgBlur}
      alt="imagen de fondo difuminada"
    />
  </div>
  <Footer />
</section>
