<nav class="w-full h-full relative">
  <ul
    class="w-full h-full p-2 flex flex-col justify-center items-end gap-24 relativ"
  >
    <li
      class="border-t-2 border-b-2 w-2/4 pt-2 pb-2 [&>a]:hover:text-white [&>a]:hover:text-sm relative cursor-pointer"
    >
      <a class="h-full w-full" href="#about">Sobre Mí</a>
    </li>
    <li
      class="border-t-2 border-b-2 w-2/4 pt-2 pb-2 [&>a]:hover:text-white [&>a]:hover:text-sm relative cursor-pointer"
    >
      <a class="h-full w-full" href="#technologies">Tecnologías</a>
    </li>
    <li
      class="border-t-2 border-b-2 w-2/4 pt-2 pb-2 [&>a]:hover:text-white [&>a]:hover:text-sm relative cursor-pointer"
    >
      <a class="h-full w-full" href="#projects">Proyectos</a>
    </li>
  </ul>
</nav>
