---
import InstagramSVG from "./InstagramSVG.astro";
import LinkedinSVG from "./LinkedinSVG.astro";
import XSVG from "./XSVG.astro";
import GitHubSVG from "./GitHubSVG.astro";
---

<nav class="social-networks h-1/2 w-full">
  <ul class="flex justify-evenly items-center w-full h-full">
    <li class="[&>a]:hover:text-white">
      <a href="https://www.instagram.com/marcelo._.lencina/" target="_blank"
        ><InstagramSVG color="text-current" /></a
      >
    </li>
    <li class="[&>a]:hover:text-white">
      <a
        href="https://www.linkedin.com/in/marcelo-lencina-bb7b2928a/"
        target="_blank"><LinkedinSVG color="text-current" /></a
      >
    </li>
    <li class="[&>a]:hover:text-white">
      <a
        href="https://twitter.com/marcelo_enki?t=o42qolvFL17TkO1GqVIrbA&s=08"
        target="_blank"><XSVG color="text-current" /></a
      >
    </li>
    <li class="[&>a]:hover:text-white">
      <a href="https://github.com/MLMarce" target="_blank"
        ><GitHubSVG color="text-current" /></a
      >
    </li>
  </ul>
</nav>
